<ion-view view-title="Comments">
  <ion-nav-bar class="bar-positive b-none">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="bg-grey-200">
    <div class="list">
      <div class="item item-avatar avatar-small b-none" ng-repeat="i in [0,1,2,3,4,5,6]">
        <img class="b b-2x b-white" src="img/amanda.jpg">
        <span class="badge badge-balanced rounded"><i class="icon ion-plus"></i></span>
        <div class="font-bold text-ellipsis text-sm">Amanda Cerny</div>
        <div class="text-xs color-grey-500">@amanda</div>
        <div class="text-sm" style="white-space: normal">It is a long established fact that a reader will be distracted by the readable content</div>
      </div>
    </div>
  </ion-content>
</ion-view>