<ion-view view-title="Capture">
  <ion-content>
    <div class="wrapper">
      <button class="button button-outline button-block button-balanced icon-left ion-videocamera" ng-click="captureVideo()">Take Video</button>
      <p><span class="text-xs color-grey-500">* Unavailable on IonicView App</p>
      <button class="button button-outline button-block button-balanced icon-left ion-camera" ng-click="takePhoto()">Take Photo</button> 
    </div>

    <div class="text-center">
      <img ng-src="{{capturedImage}}" ng-if="capturedImage" alt="" width="200">
    </div>
  </ion-content>
</ion-view>