<ion-view view-title="Settings">
  <ion-nav-bar class="bar-assertive b-none">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="wrapper-sm assertive-bg text-center">
      <span class="pos-rlt">
        <img src="img/amanda.jpg" alt="" class="thumb-lg rounded b b-light b-2x">
        <i class="icon ion-edit button-edit assertive bg-white b-2x rounded"></i>
      </span>
    </div>

    <div class="list m-n text-center">
      <div class="item font-bold">
        Amanda Cerny
      </div>
      <div class="item text-sm">
        Web developer
        <br>
        Vietnam
      </div>
    </div>

    <div class="list">
      <div class="item item-divider text-sm">Account</div>
      <div class="list">
        <a class="item" href="#">
          Email
          <span class="item-note">
            mr_hie@yahoo.com
          </span>
        </a>
        <a class="item" href="#">
          Twitter
          <span class="item-note">
            @mrhieu
          </span>
        </a>
        <a class="item" href="#">
          Phone
          <span class="item-note">
            optional
          </span>
        </a>

        <a class="item" href="#">
          Reset password
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

        <a class="item" href="#">
          Notifications
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

        <a class="item" href="#">
          Privacy
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="list">
      <div class="item item-divider text-sm">Social Networks</div>
      <div class="list">
        <a class="item" href="#">
          Facebook
          <span class="item-note">
            Not connected
          </span>
        </a>
        <a class="item" href="#">
          Tumblr
          <span class="item-note">
            Not connected
          </span>
        </a>
      </div>
    </div>

    <div class="wrapper-sm">
      <button class="button button-block button-assertive font-bold" ui-sref="welcome.greeting">Log Out</button>
    </div>

    <p class="text-center color-grey-300">mr_hie@yahoo.com</p>
  </ion-content>
</ion-view>