<?xml version="1.0" encoding="UTF-8"?>
  <widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.smartquibdo.sigtics.org"
    version   = "1.0.0">
    <name>smartquibdo </name>
  <description>
       Vive al dia con las noticias del chocó
    </description>
  <author href="http://sigtics.org/" email="sigtics@gmail.com">
      Sigtics 
    </author>
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="android-minSdkVersion" value="13" />
    <preference name="android-installLocation" value="internalOnly" />
    <preference name="SplashScreenDelay" value="8000" />
    <preference name="ErrorUrl" value=""/>
    <preference name="BackgroundColor" value="0x000000"/>
    <preference name="KeepRunning" value="true"/>
    <preference name="DisallowOverscroll" value="false"/>
    <preference name="LoadUrlTimeoutValue" value="20000" />
    <preference name="disable-cursor" value="false" />
    <gap:platform name="android" />
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>


    
  </widget>