<ion-view view-title="Sign up">
  <ion-nav-buttons side="secondary">
    <button class="button button-balanced" ng-click="done()">
      Done
    </button>
  </ion-nav-buttons>
  <ion-content class="bg-black">
    <div class="list m">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email">
      </label>
      <label class="item item-input">
      <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>

    <p class="color-grey-500 text-center">
      By signing up, you agree to the <br><b><a class="color-white">Terms of Service & Privacy Policy</a></b>
    </p>
  </ion-content>
</ion-view>