<ion-view view-title="Contáctanos">
<ion-content >
<br>
    <div class="list">
        <label class="item item-input" style="border: 1px solid #00bf8e;
height: 50px;
padding: 0px !Important;
width: 99.1%;">
          <input type="text" placeholder="Nombre">
        </label>
        <label class="item item-input" style="border: 1px solid #00bf8e;
height: 50px;
padding: 0px !Important;
width: 99.1%;">
          <input type="text" placeholder="Correo electronico">
        </label>
        <label class="item item-input" style="border: 1px solid #00bf8e;
height: 50px;
padding: 0px !Important;
width: 99.1%;">
          <input type="text" placeholder="Numero de contacto">
        </label>

  <label class="item item-input" style="border: 1px solid #00bf8e;
height: 250px;
padding: 0px !Important;
width: 99.1%;">
    <textarea name="txtcomentario" id="txtcomentario" cols="30" rows="10" style="height:250px" maxlength="140" placeholder="Comentario..."></textarea>
  </label>

        
  </div>

  <button class="button button-positive"  style="width: 99.2%;
border-color: #00bf8e;
background-color: #00bf8e;
padding: 0px;
margin: 0px;
margin-left: -1px;">
  Enviar
</button>


</ion-content>
</ion-view>