<ion-view view-title="Sujerencias">
<ion-nav-buttons side="primary">

</ion-nav-buttons>
<ion-content >

<h3>Danos tu opinion es importante</h3>

<div class="list">
 <label class="item item-input">
    <input type="text" name="titulo" id="titulo" placeholder="Titulo">
  </label>
  <label class="item item-input">
    <textarea name="txtcomentario" id="txtcomentario" cols="30" rows="10"></textarea>
  </label>

<button class="button button-positive" ng-click="AgrSuj()">
  Guardar
</button>
</div>


</ion-content>
</ion-view>